<%
config = {
  components: ['cangjieInput'],
  title: 'Home'
}
%>

<%- include('partials/header') %>

<cangjie-input></cangjie-input>

<p>
  Type the cangjie code for the character shown and press "Enter" to see if you were correct! Press "Enter" a
  second time to move on to the next character.
</p>

<a href="https://en.wikipedia.org/wiki/Cangjie_input_method" target="_blank">Learn Cangjie</a>

<%- include('partials/footer') %>
