<%
config = {
  components: ['cangjieInput'],
  title: 'Home'
}
%>

<%- include('partials/header') %>

<cangjie-input></cangjie-input>

<p>
  Type the cangjie code for the character shown and press "Enter" to see if you were correct! Press "Enter" a
  second time to move on to the next character.
</p>

<p class="links">
  <a href="https://en.wikipedia.org/wiki/Cangjie_input_method" target="_blank">Learn Cangjie</a>
  <a href="http://www.chinesecj.com/newlearncj/cj5/cj5.php" target="_blank">學會倉頡</a>
  <a href="https://zh.wikibooks.org/wiki/倉頡輸入法/輔助字形" target="_blank">倉頡輸入法/輔助字形</a>
</p>

<%- include('partials/footer') %>
