* {
  box-sizing: border-box;
}

body {
  background-color: LightGrey;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 500px;
}

.links {
  display: flex;
  flex-direction: column;
}
